.anime-detail-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anime-detail-container img {
  width: 30%;
}

.anime-detail-title {
  font-weight: 900;
  color: #fff;
  background-color: #4269b3;
  padding: 1%;
  margin-top: 2%;
  text-align: center;
}

.anime-detail-description span {
  font-weight: 600;
}

.anime-detail-description {
  padding: 6%;
  font-weight: 500;
}

.anime-detail-container p:not(.anime-detail-description) {
  padding: 0 0 0 6%;
  text-align: left;
  width: 100%;
}

.anime-detail-rating {
  margin-bottom: 10%;
}
